body
{
	overflow: hidden;
}
#kontent
{
	background-color: #000;
	width: 76%;
	position: relative;
	margin: -10 auto;
	height: 110%;	
}
#logo
{
	background-color: #faf;
	color: fff;
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);
	margin: 0 auto;
	position: absolute;
	left: -10px;
	top: 20px;
	height: 100px;
	max-height: 100px;
	padding-top: 2px;
	font-size: 74px;
}
.przycisk
{
	background-color: #f00;
}
.test
{
	color: #fff;
}